/* Mobile View Styles */
@media only screen and (max-width: 768px) {
  .myAvtar img {
    /* Adjust this value to your desired size */
    height: 100px;
    float: right; /* To align it beside the text */
    margin-right: 5px;
    margin-top: 250px; /* Some spacing from the right */
  }

  /* Clear floats after the text and image */
  .home-about-description:after {
    content: "";
    display: table;
    clear: both;
  }
}
