@media only screen and (max-width: 768px) {
    .home-content .row {
        flex-direction: column; 
        overflow-x: hidden;
    }
    .home-content .row .img-fluid {
        margin-left: 10% !important; /* using !important to ensure it overrides any other conflicting styles */
    }
}
