/* ... Your existing CSS styles ... */

/* CSS for mobile view */
@media (max-width: 768px) {


    /* .fork-btn {
        position: static !important;
        flex: 50; 
        text-align: center;
        margin: 0 !important; 
        padding: -5px !important; 
    } */
    .fork-btn {
        position: static !important;
        flex: 1; 
        text-align: center;
        margin: 0 !important; 
        padding: 5px !important; 
    }

  
    #responsive-navbar-nav .ms-auto {
        flex-direction: column !important;
        justify-content: space-between;
        flex-wrap: nowrap !important; 
    }


    .fork-btn-inner {
        width: 50%; 
        margin-right: 155px;
        text-align: center; 
        width: auto;
        
    }

}
